* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Header Styles  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid black;
  width: 100%;
}

.logo {
  width: 5rem;
}

.nav-items > ul {
  padding: 0rem 0.6rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.login-btn {
  padding: 5px 20px;
  cursor: pointer;
}

/* Body Style  */

.res-card {
  width: 10rem;
  height: 15rem;
  border: 1px solid grey;
  background-color: #f0f0f0;
  padding: 0.3rem;
}
.res-card:hover {
  box-shadow: 1px 1px 1px 1px gray;
  cursor: pointer;
}

.search {
  padding: 0.1rem;
}

.res-logo {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.res-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.filter {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.filter-btn {
  margin: 0.6rem;
  cursor: pointer;
}

/* for shimmer cards */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  background-color: #f0f0f0;
  width: 200px;
  height: 300px;
  margin: 10px;
}

.user-card {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
